@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
p{
    font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}
p{
    line-height: 1.5;
    letter-spacing: 10px;
    word-spacing: 10px;
}
p{
    
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style:double ;
    text-decoration-thickness: 10px;
    text-indent: 20px;
    text-shadow: 2px 2px 5px red;
}